<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
  <meta charset="UTF-8">
  <title>Angular Base64 Upload Demo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>
  <script type="text/javascript" src="script.js">
  </script>
  <style>
    body{padding-bottom: 50px;}
    .alert{margin-top: 15px;}
  </style>
</head>
<body ng-controller="ctrl">
  <div class="container">
    <form name="form">
    <h3>Simple Upload File Front End</h3>
      <div class="input-group">
        <label for="file">Select File</label>
        <input type="file" ng-model="file" name="file" base-sixty-four-input required onload="onLoad" maxsize="500" >

      </div>
      <div>
          <button ng-click = "uploadFile()">upload me</button>
      </div>
    <b>Model Value:</b>
    <table class="table table-bordered table-striped">
      <tr>
        <th>filename</th>
        <th>filetype</th>
        <th>filesize (<i><small>KB</small></i>)</th>
        <th>base64</th>
      </tr>
      <tr ng-show="file">
        <td>{{file.filename}}</td>
        <td>{{file.filetype}}</td>
        <td>{{file.filesize / 1000}}</td>
        <td>{{file.base64.substring(0, 30)}}...</td>
      </tr>
      <tr>
        <td colspan="4" ng-show="!file">
          <small><i>No file selected.</i></small>
        </td>
      </tr>
    </table>

    </form>
  </div>
</body>
</html>
